<div class="content-wrap">

  <h1 class="text-center c">Mes matchs</h1>

  <div class="d-flex justify-content-around align-items-center">

    <app-graph></app-graph>

    <app-match-list [matches]="matches" (delete)="onClickDelete($event)"></app-match-list>

  </div>

</div>



