<div class="container d-flex justify-content-around align-items-center">
    <div class="btn btn-success" (click)="onClickEmit('true')">Like</div>

    <div class="btn btn-danger" (click)="onClickEmit('false')">Nope</div>

</div>
