<div class="container">

    <div class="table" *ngFor="let profile of linkedProfiles; index as i;">
    <app-match-in-list [match]="matches[i]" [profile]="profile" (delete)="onClickDelete($event)">
    </app-match-in-list>
    </div>

</div>
