<div class="row" *ngIf="display">

  <div class="cell" [ngClass]="match.match ? 'green' : 'red' ">
    {{profile.prenom}}
  </div>

  <div class="cell" [ngClass]="match.match ? 'green' : 'red' ">
    {{profile.nom}}
  </div>

  <button class="btn btn-primary" (click)="onClickDelete()">Supprimer</button>

</div>


