<div class="container text-center">
<h2>{{profile.prenom}} {{profile.nom}}</h2>

<img [src]="profile.photoUrl">

  <div>
    Ses intérêts.
    <ul>
    <li *ngFor="let interest of interests">{{interest.nom}}</li>
    </ul>

  </div>
</div>

<app-match (buttonClicked)="sendMatch($event)"></app-match>
