<h1 class="text-center c">Page d'administration</h1>

<div class="table">

  <div class="cell">
    <label for="nom">Nom : </label>
    <input type="text" name="" id="nom">
  </div>

  <div class="cell">
    <label for="prenom">Prénom : </label>
    <input type="text" name="" id="prenom">
  </div>

  <div class="cell">
    <label for="photoUrl">Url de la photo : </label>
    <input type="text" name="" id="photoUrl">
  </div>

  <div class="row">
    <label class="cell">Cocher les intérêts</label>
  </div>
  <div class="row" *ngFor="let interest of interests">
    <input  class="cell" type="checkbox"
    [name]="interest.nom" [id]="interest.nom" [value]="interest.nom">
  <label [for]="interest.nom">{{interest.nom}}</label>
  </div>

  <div class="btn btn-success cell" (click)="onClickSend()">Créer un profil</div>

</div>
