<h1 class="text-center c">Voici tes prétendants</h1>

<label for="interest">Filtrer par intérêt : </label>
<select id="interest" [(ngModel)]="selectedInterestName" (ngModelChange)="onChangeFilter()">
  <option *ngFor="let interest of interests" [value]="interest.nom">{{interest.nom}}</option>
</select>

<div class="container cards">

  <div *ngFor="let profile of filteredProfiles">
    <app-profile [profile]="profile" [interests]="findInterestsof(profile)"></app-profile>
  </div>

</div>

