<nav class="navbar navbar-light">

  <div class="d-flex align-items-center">

    <a class="navbar-brand" >
      <img src="assets/logoTinder.jpg" class="d-inline-block align-top" width="60" height="60">
    </a>

    <a class="navbar-brand" routerLink="/profiles" routerLinkActive="active">Zinder</a>

    <a class="nav-link" routerLink="/stats" routerLinkActive="active">Statistiques</a>

    <a class="nav-link" routerLink="/admin" routerLinkActive="active">Administration</a>

  </div>



</nav>
